:root {
    --black: #222222;
    --white: #FFFFFF;
    --aqua: #55BCD5;
    --blue: #499BD2;
    --purple: #9B26B0;
    --yellow: #F6D64A;
    font-size: 16px;
}

body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: linear-gradient(#55BCD5, white);
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

h1 {
    font-weight: 300;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}   

nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

nav li {
    list-style-type: none;
    background-color: white;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav li:hover {
    background-color: #F6D64A;
}

/* INTRO SECTION */
#intro {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
}

#intro p {
    padding-top: 40px;
    margin-left: -100px;
}
/* PLAN SECTION */
#plan {
    background-color: #F6D64A;
    padding: 6px 6px 15px 6px; 
}

#plan div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

#plan h3 {
    font-style: normal;
    padding: 8px 0 0 10px;
}

#plan h4 {
    font-weight: bold;
    text-transform: uppercase; 
}

#plan img {
    background-color: #55BCD5;
    padding: 2rem;
    border: 0.20rem solid white;
    border-radius: 0.25em;
}
/* TESTIMONIALS SECTION */
#testimonials div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 6px 6px 15px 6px; 
}

#testimonials h4 {
    text-transform: uppercase;
}

#testimonials q {
    font-style: italic;
}

/* ABOUT SECTION */
#about {
    background-color: #499BD2;
    padding: 6px 6px 15px 6px; 
}

#about div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}
/* CONTACT FORM SECTION */
#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding: 6px 6px 15px 6px; 
}

#names input, #nums input, #selects select {
    border-color: #9B26B0;
}

fieldset {
    border: none;
}

.radio-input {
    color:#9B26B0;
}

.required {
    color: red;
}

.form-required {
    font-size: small;
    font-style: italic;
    font-weight: 100;
}

#mySubmit {
    background-color: #9B26B0;
    color: white;
    padding: 4px 4px 4px 4px;
    text-transform: uppercase;
}
/* SKIP TO CONTENT */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

#skip:focus {
    position: static;
    width: auto;
    height: auto;
  }
/* SCREEN READER ONLY */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  /* MEDIA QUERIES */
  @media screen and (min-width: 320px) {
    header {
        display: flex;
        flex-direction: column;
        
  }
    #toggle {
        background-color: black;
        color: white;
        width: 320px;
        max-height: 0;
        padding: 0;
        margin: 0 auto;
        -webkit-transition: all 0.3s ease;
    }
    nav a {

    }

    nav li {
        display: flex;
        background-color: #55BCD5;
        text-align: center;
    }



  }