:root {
    --black: #222222;
    --white: #FFFFFF;
    --aqua: #55BCD5;
    --blue: #499BD2;
    --purple: #9B26B0;
    --yellow: #F6D64A;
    font-size: 16px;
}

body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: linear-gradient(#55BCD5, white);
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

h1 {
    font-weight: 300;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

nav li {
    list-style-type: none;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav li:hover {
    background-color: #F6D64A;
}
/* INTRO SECTION */
#intro {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
}

#intro p {
    padding-top: 40px;
    margin-left: -100px;
}
/* PLAN SECTION */
#plan {
    background-color: #F6D64A;
    padding: 6px 6px 15px 6px; 
}

#plan div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

#plan h3 {
    font-style: normal;
    padding: 8px 0 0 10px;
}

#plan h4 {
    font-weight: bold;
    text-transform: uppercase; 
}

#plan img {
    background-color: #55BCD5;
    padding: 2rem;
    border: 0.20rem solid white;
    border-radius: 0.25em;
}
/* TESTIMONIALS SECTION */
#testimonials div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 6px 6px 15px 6px; 
}

#testimonials h4 {
    text-transform: uppercase;
}

#testimonials q {
    font-style: italic;
}

/* ABOUT SECTION */
#about {
    background-color: #499BD2;
    padding: 6px 6px 15px 6px; 
}

#about div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}
/* CONTACT FORM SECTION */
#contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding: 15px 4px 15px 6px; 
}

#names input, #nums input, #selects select {
    border-color: #9B26B0;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: row;
}

.required {
    color: red;
}

.form-required {
    font-size: small;
    font-style: italic;
    font-weight: 100;
}

#mySubmit {
    background-color: #9B26B0;
    color: white;
    padding: 4px 4px 4px 4px;
    text-transform: uppercase;
}
/* FOOTER */
footer {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: black;
}
/* SKIP TO CONTENT */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

#skip:focus {
    position: static;
    width: auto;
    height: auto;
  }
/* SCREEN READER ONLY */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  /* MEDIA QUERIES */
  @media screen and (min-width: 320px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav {
        display: flex;
        align-items: center;
        flex-grow: 2;
        background-color: #55BCD5;
    }

    nav label, nav input {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    #intro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #img-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
    }

    #plan div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #testimonials div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #testimonials section, #about section, #intro div {
        padding: 10px 5px 10px 5px;
    }

    #about div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #contact div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
    } 

  }

  @media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    nav ul {
        display: flex;
    }

    nav ul li {
        display: inline-block;
    }

    #intro div {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #plan div {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #testimonials div {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "div div"
        "div div"; 
    }

    #about div {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #contact {
        display: grid;
        justify-items: start;
    }
 }
